<!-- modal for proopsal-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Grade</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/panel/groups_evaluating/'+recipient">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="Username"
              value=""
              disabled
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Dressing:</label>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              name="Pdressing"
              min="0"
              max="10"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"
              >Presentation:</label
            >
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              min="0"
              max="10"
              name="Ppresentation"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Report</label>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              name="Preport"
              min="0"
              max="20"
              value=""
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- modal for progress -->

<div
  class="modal fade"
  id="progressModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Grade</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/panel/groups_evaluating/'+recipient">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="Username"
              value=""
              disabled
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Dressing:</label>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              name="Prdressing"
              min="0"
              max="10"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"
              >Presentation:</label
            >
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              min="0"
              max="10"
              name="Prpresentation"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Report</label>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              name="Prreport"
              min="0"
              max="20"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Progress</label>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              name="Prprogress"
              min="0"
              max="20"
              value=""
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal for Final -->
<div
  class="modal fade"
  id="finalModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Grade</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/panel/groups_evaluating/'+recipient">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="Username"
              value=""
              disabled
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Dressing:</label>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              name="fdressing"
              min="0"
              max="10"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"
              >Presentation:</label
            >
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              min="0"
              max="10"
              name="fpresentation"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Report</label>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              name="freport"
              min="0"
              max="20"
              value=""
            />
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Project</label>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              name="fproject"
              min="0"
              max="40"
              value=""
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $("#exampleModal").on("show.bs.modal", function (event) {
    // Button that triggered the modal
    //   var recipient = button.data('whatever') // Extract info from data-* attributes
    var modal = $(this);
    //get data-id attribute of the clicked element
    var recipient = $(event.relatedTarget).data("id");
    var Username = $(event.relatedTarget).data("whatever");
    console.log(recipient);
    //populate the textbox

    modal.find('input[name="Username"]').val(Username);
    modal.find("form").attr("action", "/panel/groups_evaluating/" + recipient);
  });

  $("#progressModal").on("show.bs.modal", function (event) {
    // Button that triggered the modal
    //   var recipient = button.data('whatever') // Extract info from data-* attributes
    var modal = $(this);
    //get data-id attribute of the clicked element
    var recipient = $(event.relatedTarget).data("id");
    var Username = $(event.relatedTarget).data("whatever");
    console.log(recipient);
    //populate the textbox

    modal.find('input[name="Username"]').val(Username);
    modal.find("form").attr("action", "/panel/groups_evaluating/" + recipient);
  });

  $("#finalModal").on("show.bs.modal", function (event) {
    // Button that triggered the modal
    //   var recipient = button.data('whatever') // Extract info from data-* attributes
    var modal = $(this);
    //get data-id attribute of the clicked element
    var recipient = $(event.relatedTarget).data("id");
    var Username = $(event.relatedTarget).data("whatever");
    console.log(recipient);
    //populate the textbox

    modal.find('input[name="Username"]').val(Username);
    modal.find("form").attr("action", "/panel/groups_evaluating/" + recipient);
  });
</script>
