<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><img src="https://seeklogo.com/images/N/numl-logo-8250E1FBC3-seeklogo.com.png" alt=""></h1>
      <p>FYP for SE department</p>
      <!-- <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      > -->
      <a href="/users/login" class="btn btn-primary btn-block">Login</a>
    </div>
  </div>
</div>
